0language = "bash"
run = "mcs -out:main.exe 'Projeto08/main.cs' 'Projeto08/especie.cs' 'Projeto08/pet.cs' 'Projeto08/sistema.cs' 'Projeto08/cliente.cs' 'Projeto08/servico.cs' 'Projeto08/agendamento.cs'; mono main.exe"