language = "bash"
run = "mcs -out:main.exe 'Projeto06/main.cs' 'Projeto06/especie.cs' 'Projeto06/pet.cs' 'Projeto06/sistema.cs' 'Projeto06/cliente.cs' 'Projeto06/servico.cs' 'Projeto06/agendamento.cs'; mono main.exe"