0language = "bash"
run = "mcs -out:main.exe 'Projeto07/main.cs' 'Projeto07/especie.cs' 'Projeto07/pet.cs' 'Projeto07/sistema.cs' 'Projeto07/cliente.cs' 'Projeto07/servico.cs' 'Projeto07/agendamento.cs'; mono main.exe"